{% extends "base.html" %}
  {% load static %}
  {% block title %}About Adrian L Flanagan{% endblock %}

    {% block header %}
      <div id="sidebar" class="col-xs-12 col-sm-3 col-md-2 d-flex justify-content-center">
        <img class="img-fluid-100" src="{% static "about_me/images/my_gravatar_headshot.png" %}"
        alt="Photo of Adrian Flanagan"/>
      </div>
      <div id="main" class="col-xs-12 col-sm-9 col-md-10 d-flex align-items-center">
        <h1>Adrian L Flanagan</h1>
      </div>
    {% endblock %}
    {% block content %}
    <div id="menu-wrapper">
      <ul class="nav">
        <a class="nav-link" href="/professional">Professional</a>
      </ul>
      <ul class="nav">
        <a class="nav-link" href="/software">Open-Source Software Projects</a>
      </ul>
      <ul class="nav">
        <a class="nav-link" href="/maker">Maker / Robotics Projects</a>
      </ul>
    </div>
    {% endblock %}
    {% block footer %}
      <div class="col-sm-12 col-md-2 d-md-flex justify-content-end">
        <a href="http://u.fsf.org/16e">
          <img src="//static.fsf.org/nosvn/images/badges/fsfs_icons_beige-bg.png"
               alt="Free Software, Free Society"
               class="img-fluid-100">
        </a>
      </div>
      <div class="col-sm-12 col-md-3 d-md-flex center-img justify-content-center">
        <a href="https://www.eff.org/join">
          <img src="https://www.eff.org/files/eff-banner.jpg"
               alt="Join EFF!"
               border="0"
               class="img-fluid-100">
        </a>
      </div>
      {% endblock %}
